/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --title-color: #DB00FF;
  --accent-color: #FF0070;
  --section-title-color: #FF0070;
  --article-title-color: #000028;
  --text-color: #F1B2CE;
  --button-hover: rgba(255, 0, 112, 0.4);
  --main-font-family: 'IBM Plex mono';
  --main-font-size: 18px;
  --main-line-height: 1.4625rem;
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --logo-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --width-decorate: 25px;
  --height-decorate: 25px;
  --small-gap: 10px;
}

@media (width >= 768px) {

  :root {
    --background-image: url(../images/cover-image.png);
    --logo-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  }
}